<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>echo</title>
</head>
<body>

    <h1>you logged in as <i>{{request.user}}</i></h1>

    <div class="msg"></div>
    <textarea cols="30" rows="10" id="echo-log"></textarea><br>
    <input type="text" id="text-input"><br>

    <button type="submit" id="send">click</button>
    <button type="button" id="cancel">cancel</button>
    

    <script>

        function connect() {
            let ws = new WebSocket(`ws://${window.location.host}/echo`);
        
            ws.onopen = function() {
            }

            ws.onmessage = function(ev) {
                let msg = ev.data;
                document.querySelector('#echo-log').value += (msg + '\n');
            }

            document.getElementById('send').addEventListener('click', ()=> {
                ws.send(document.getElementById('text-input').value);
                document.getElementById('text-input').value = '';
            });

            document.getElementById('cancel').addEventListener('click', ()=> {
                ws.close();
            });

        }


        connect();
    </script>
</body>
</html>