<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>django-chat-app</title>

    <!-- External files2 -->
    <link rel="stylesheet" href="/site_static/django_chat_app/css/custom.css">

</head>
<body>

    <section class="chatapp" id="chatapp">

        <div class="chatapp__btn" @click="open_close_box">
            <div>
                <img src="/site_static/django_chat_app/img/chat-room.png" alt="Django Chat Application!">
                <div id="alert_msg_ctx" :class="counter_new_msg > 0 ? '' : 'd-none'"></div>
            </div>
        </div>
    
        <div class="chatapp__msg d-none chatapp__hide">
            <div class="msg__header">
                <div class="msg__wrapper">
                    <div class="header__info">
                        <img src="/site_static/django_chat_app/img/supporter.png" alt="">
                        <div>
                            <span></span>
                            <span>[[ receiver_status == 'online' ? 'آنلاین' : 'آخرین بازدید به تازگی' ]]</span>
                        </div>
                    </div>
                    <div class="header__options">
                        <button class="close__msgbox" @click="open_close_box"><img src="/site_static/django_chat_app/img/close.png" alt="close chat application"></button>
                    </div>
                </div>
            </div>

            <div class="msg__body">        
                <div class="body__wrapper">

                    <!-- + messages wrapper -->
                    <div class="all__msg__wrapper d-none">

                        <template v-for="msg_item in message_list" :key="msg_item.id">
                            <div v-if="!msg_item.is_deleted" class="one_msg_wrapper" @dblclick="reply_msg(`chatapp_msg_${msg_item.id}`, msg_item.id)">
                                <div class="msg" :class="msg_item.sender_type == 'client' ? 'msg__right' : 'msg__left'" :id="'chatapp_msg_' + msg_item.id">
                                    <p v-if="msg_item.reply_title" class="msg__replied" :class="msg_item.sender_type == 'client' ? 'msg__replied--right' : 'msg__replied--left'" @click="msg_replied(`chatapp_msg_${msg_item.reply_id}`)">
                                        <span>[[ msg_item.reply_title == 'client' ? 'شما' : 'پشتیبان' ]]</span>
                                        <span v-if="!msg_item.reply_is_deleted">[[ msg_item.reply_msg ]]</span>
                                        <span v-else>این پیام حذف شده است</span>
                                    </p>
                                    <p class="msg__content">
                                        [[ msg_item.text ]]
                                    </p>
                                    <div class="msg__info">
                                        <div class="msg__info__status" v-if="msg_item.sender_type == 'client'">
                                            <img v-if="msg_item.is_seen" src="/site_static/django_chat_app/img/double-check.png" alt="double check status">
                                            <img v-else src="/site_static/django_chat_app/img/single-check.png" alt="single check status">
                                        </div>
                                        <div class="msg__info__clock">[[ msg_item.created ]]</div>
                                        <div v-if="msg_item.is_edited">ویرایش شده</div>
                                        <div class="msg__info__clock" v-if="edit_user_msg && msg_item.sender_type == 'client' && !msg_item.is_edited" @click="edit_message(`chatapp_msg_${msg_item.id}`, msg_item.id)">ویرایش پیام</div>
                                        <div class="msg__info__clock" v-if="delete_user_msg && msg_item.sender_type == 'client'" @click="delete_message(msg_item.id)">حذف پیام</div>
                                    </div>
                                </div>
                                <div class="reply_one_msg" :class="msg_item.sender_type == 'client' ? 'reply_one_msg--right' : 'reply_one_msg--left'" @click="reply_msg(`chatapp_msg_${msg_item.id}`, msg_item.id)">
                                    پاسخ دادن
                                </div>
                            </div>
                            <div v-if="msg_item.is_deleted && show_deleted_msg">
                                <div class="msg" :class="msg_item.sender_type == 'client' ? 'msg__right' : 'msg__left'" :id="'chatapp_msg_' + msg_item.id">
                                    <p class="msg__content">
                                        این پیام حذف شده است
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </template>
    
                    </div>
                    <!-- - messages wrapper -->

                    <!-- + tictoctoe game -->
                    <div class="tictoctoe__game d-none">
                        
                        <button id="restart__game">شروع دوباره</button>
                        <div id="score__game">
                            <div><span>شما:</span><span>0</span></div>
                            <div><span>کامپیوتر:</span><span>0</span></div>
                        </div>
                        <p id="game_alert_msg" class="d-none"></p>
                                        
                        <div class="btns__wrapper">

                            <div id="bg__glass" class="d-none"></div>
                            <img src="/site_static/django_chat_app/img/o.png" id="oimage_game" class="d-none" alt="this image is dnone because js handle image src">
                            <img src="/site_static/django_chat_app/img/x.png" id="ximage_game" class="d-none" alt="this image is dnone because js handle image src">

                            <div class="btns__wrapper__btn">
                                <div class="btn_game m2px_b m2px_l" id="btn11"></div>
                                <div class="btn_game m2px_b m2px_l" id="btn12"></div>
                                <div class="btn_game m2px_b" id="btn13"></div>
                            </div>
                            <div class="btns__wrapper__btn">
                                <div class="btn_game m2px_b m2px_l" id="btn21"></div>
                                <div class="btn_game m2px_b m2px_l" id="btn22"></div>
                                <div class="btn_game m2px_b" id="btn23"></div>
                            </div>
                            <div class="btns__wrapper__btn">
                                <div class="btn_game m2px_l" id="btn31"></div>
                                <div class="btn_game m2px_l" id="btn32"></div>
                                <div class="btn_game" id="btn33"></div>
                            </div>
                        </div>
                    </div>
                    <!-- - tictoctoe game -->

                    <!-- + login form -->
                    <div class="chatapp__form d-none">
                        <div class="chatform__header">
                            <p>جهت پشتیبانی و راهنمایی بهتر، لطفا مشخصات خود را بصورت صحیح وارد نمایید.</p>
                        </div>

                        <form novalidate @submit.prevent="chatapp_submitform">
                            <div class="chatapp_formcontrol">
                                <input type="text" id="chatapp__fname" autocomplete="off">
                                <label for="chatapp__fname">نام</label>
                            </div>
                            <div class="chatapp_formcontrol">
                                <input type="text" id="chatapp__lname" autocomplete="off">
                                <label for="chatapp__lname">نام خانوادگی</label>
                            </div>
                            <div class="chatapp_formcontrol chatapp_control_email d-none">
                                <input type="email" id="chatapp__email" autocomplete="off">
                                <label for="chatapp__email">ایمیل</label>
                            </div>
                            <div class="chatapp_formcontrol chatapp_control_phone mbnone__chat-app d-none">
                                <input type="number" id="chatapp__phone" autocomplete="off">
                                <label for="chatapp__phone">شماره تماس</label>
                            </div>

                            <div class="chatapp_button">
                                <button id="chatapp_submitform" type="submit">ارسال</button>
                            </div>
                        </form>
                    </div>
                    <!-- - login form -->

                    <div class="btn_last_msg d-none">
                        <button @click="go_to_bottom_of_box">
                            <img src="/site_static/django_chat_app/img/gotodown.png" alt="go to last msg img">
                            <div class="unreadmsg_counter"></div>
                        </button>
                    </div>

                </div>
            </div>

            <div class="body__inputs">
                <form novalidate class="d-none" @submit.prevent="sned_msg_socket">
                    <div class="forminput_wrapper">
                        <input type="text" v-model="msg_input" id="text-chatinput" autocomplete="off" placeholder="پیام خود را وارد کنید:">
                        <button class="show_game" type="button" @click="show_game_btn">
                            <img src="/site_static/django_chat_app/img/game.png" alt="let's go to game">
                        </button>

                        <div class="reply_msg_wrapper d-none">
                            <button class="close_replybar" type="button" @click="close_replybar">&times;</button>
                            <div>
                                <p class="reply__writer"></p>
                                <p class="reply__content"></p>
                                <p class="reply__reply_id d-none"></p>
                            </div>
                        </div>

                        <button type="submit">
                            <img src="/site_static/django_chat_app/img/send.png" alt="send image">
                        </button>
                    </div>
                </form>
                <div class="goback_chat_btn d-none" @click="goback_chat_btn">
                    <span>بازگشت به صفحه‌ی چت</span><span v-if="counter_new_msg > 0">NEW</span>
                </div>
            </div>
        </div>
    </section>

<!-- <script type="text/javascript" src="/site_static/django_chat_app/js/custom.js"></script> -->
<script type="text/javascript" src="/site_static/django_chat_app/js/vue3.js"></script>

<script>

    /* DJANGO CHAT APP package */
    /* v1.0.0 */

    Vue.createApp({
        
        delimiters: [`[[`, `]]`],
        
        data() {
            return {
                // env variables
                env_dir: '',
                env_title: '',
                env_subtitle: '',
                env_game: '',
                env_auth_fields: '',
                env_max_report_number: '',
                env_show_supporter_name: '',
                edit_user_msg: false,
                delete_user_msg: false,
                show_deleted_msg: false,
                is_set_env: false,

                is_open_game: false,

                user_is_logged: false,
                user_id: '',

                is_open_box: false,
                counter_new_msg: 0,

                message_status_is_edit: false,

                receiver_status: '',

                socket: '',
                msg_input: '',

                message_list: [],
            }
        },

        created() {
            this.set_setting();
        },

        methods: {
            
            // encrypt(salt, text) {
            //     const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0));
            //     const byteHex = (n) => ("0" + Number(n).toString(16)).substr(-2);
            //     const applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
            //     return text.split("").map(textToChars).map(applySaltToChar).map(byteHex).join("");
            // },

            // decrypt(salt, encoded) {
            //     const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0));
            //     const applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
            //     return encoded.match(/.{1,2}/g).map((hex) => parseInt(hex, 16)).map(applySaltToChar).map((charCode) => String.fromCharCode(charCode)).join("");
            // },

            play_send_sound() {
                new Audio('/site_static/django_chat_app/media/send.mp3').play();
            },

            focus_msg_input() {
                setTimeout(() => {
                    document.querySelector('section.chatapp .body__inputs #text-chatinput').focus();
                }, 200);
            },
            
            set_setting() {

                if(this.is_set_env)
                    return;

                (async () => {
                    await fetch('/' + window.location.pathname[1] + window.location.pathname[2] + '/django-chat-app/chat/setting/', {
                        method: "POST",
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then((response) => {
                        if(response.status == 200) {

                            this.env_dir = response.data.dir;
                            this.env_show_supporter_name = response.data.show_supporter_name;
                            this.env_title = response.data.title;
                            this.env_subtitle = response.data.subtitle;
                            this.env_game = response.data.game;
                            this.env_auth_fields = response.data.auth_fields;
                            this.env_max_report_number = response.data.max_report_number;
                            this.edit_user_msg = response.data.edit_user_msg;
                            this.delete_user_msg = response.data.delete_user_msg;
                            this.show_deleted_msg = response.data.show_deleted_msg;
                            this.is_set_env = true;

                            // setting for direction
                            if(this.env_dir == 'ltr') {
                                document.querySelector('section.chatapp').classList.add('chatapp__ltr')
                            } else if(this.env_dir == 'rtl') {
                                document.querySelector('section.chatapp').classList.remove('chatapp__ltr')
                            } else if(this.env_dir == 'auto') {
                                //TODO
                            }

                            // setting for title and subtitle
                            document.querySelector('.chatapp .chatapp__msg .header__info div span:nth-child(1)').innerText = this.env_title;
                            document.querySelector('.chatapp .chatapp__msg .header__info div span:nth-child(2)').innerText = this.env_subtitle;

                            // setting for game
                            if(!this.env_game)
                                document.querySelector('.chatapp .body__inputs .show_game').classList.add('d-none');

                            // setting for email or phone
                            if(this.env_auth_fields == 'email')
                                document.querySelector('.chatapp .chatapp_control_email').classList.remove('d-none');
                            else if(this.env_auth_fields == 'phone')
                                document.querySelector('.chatapp .chatapp_control_phone').classList.remove('d-none');

                            if(this.env_show_supporter_name) {
                                //TODO
                            }

                            if(this.env_max_report_number) {
                                //TODO
                            }

                        } else if(response.status == 401) {
                            localStorage.removeItem('chatapp_client_id');
                        }
                    })
                    .catch(err => {
                        console.log('ERR: ', err);
                    });
                })();
            },

            go_to_bottom_of_box() {
                document.querySelector('.msg__body .body__wrapper').scrollIntoView({ behavior: "smooth", block: "end"});

                if(this.counter_new_msg > 0) {
                    this.socket.send(JSON.stringify({
                        'message_id': 'all-msg',
                        'message_sender': 'supporter',
                        'client_id': 'supporter',
                    }));
                    this.counter_new_msg = 0;
                }
            },

            goback_chat_btn() {
                this.is_open_game = false;
                // document.querySelector('section.chatapp .btn_last_msg').classList.remove('d-none');
                document.querySelector('section.chatapp .msg__body .body__wrapper .all__msg__wrapper').classList.remove('d-none');
                document.querySelector('section.chatapp .msg__body .body__wrapper .tictoctoe__game').classList.add('d-none');
                document.querySelector('section.chatapp .chatapp__msg .body__inputs form').classList.remove('d-none');
                document.querySelector('section.chatapp .chatapp__msg .body__inputs .goback_chat_btn').classList.add('d-none');

                this.go_to_bottom_of_box();
            },

            show_game_btn() {
                this.is_open_game = true;
                // document.querySelector('section.chatapp .btn_last_msg').classList.add('d-none');
                document.querySelector('section.chatapp .msg__body .body__wrapper .all__msg__wrapper').classList.add('d-none');
                document.querySelector('section.chatapp .msg__body .body__wrapper .tictoctoe__game').classList.remove('d-none');
                document.querySelector('section.chatapp .chatapp__msg .body__inputs form').classList.add('d-none');
                document.querySelector('section.chatapp .chatapp__msg .body__inputs .goback_chat_btn').classList.remove('d-none');
            },

            open_close_box() {

                if(document.querySelector('section.chatapp .chatapp__msg').classList.contains('d-none')) {

                    this.is_open_box = true;
                    this.counter_new_msg = 0;
                    this.focus_msg_input();

                    if(!document.querySelector('section.chatapp .tictoctoe__game').classList.contains('d-none'))
                        this.goback_chat_btn();

                    document.querySelector('section.chatapp .chatapp__msg').classList.remove('d-none');
                    setTimeout(() => {
                        document.querySelector('section.chatapp .chatapp__msg').classList.remove('chatapp__hide');
                        document.querySelector('section.chatapp .chatapp__msg').classList.add('chatapp__show');
                    }, 100);

                    /* + search for localstorage */
                    let stored_userid = JSON.parse(localStorage.getItem('chatapp_client_id'));
                    
                    if (stored_userid) {
                        
                        let formdata = new FormData();
                        formdata.append('user_id', stored_userid);
                        
                        (async () => {
                            await fetch('/' + window.location.pathname[1] + window.location.pathname[2] + '/django-chat-app/auth/check/userid/', {
                                method: "POST",
                                body: new URLSearchParams(formdata),
                                headers: {
                                    "Content-type": "application/x-www-form-urlencoded"
                                }
                            })
                            .then(response => response.json())
                            .then((response) => {
                                if(response.status == 200) {
                                    
                                    this.message_list = response.data;
                                    this.user_is_logged = true;
                                    this.user_id = stored_userid;
                                    this.start_socket();

                                    document.querySelector('.chatapp .all__msg__wrapper').classList.remove('d-none');
                                    document.querySelector('.chatapp .body__inputs form').classList.remove('d-none');

                                    setTimeout(()=> {
                                        this.go_to_bottom_of_box();
                                    }, 500);

                                } else if(response.status == 401) {
                                    localStorage.removeItem('chatapp_client_id');
                                }
                            })
                            .catch(err => {
                                console.log('ERR: ', err);
                            });
                        })();

                        // send online status
                        setTimeout(() => {
                            let mythis = this;
                            this.socket.send(JSON.stringify({
                                'receiver_status': 'online',
                                'client_id': 'supporter',
                                'user_id': mythis.user_id,
                            }));

                            // read all message signal
                            this.socket.send(JSON.stringify({
                                'message_id': 'all-msg',
                                'message_sender': 'supporter',
                                'client_id': 'supporter',
                            }));
                        }, 1500);
                    }
                    else {
                        document.querySelector('.chatapp__form').classList.remove('d-none');
                        setTimeout(() => {
                            document.querySelector('section.chatapp .chatapp__form input#chatapp__fname').focus();
                        }, 200);
                        // document.querySelector('section.chatapp .btn_last_msg').classList.add('d-none');
                    }
                    /* - search for localstorage */

                    this.go_to_bottom_of_box();

                } 
                else {
                    this.is_open_box = false;
                    document.querySelector('section.chatapp .chatapp__msg').classList.remove('chatapp__show');
                    document.querySelector('section.chatapp .chatapp__msg').classList.add('chatapp__hide');
                    setTimeout(() => {
                        document.querySelector('section.chatapp .chatapp__msg').classList.add('d-none');
                    }, 120);

                    // send offline status
                    if(this.socket) {
                        let mythis = this;
                        this.socket.send(JSON.stringify({
                            'receiver_status': 'offline',
                            'client_id': 'supporter',
                            'user_id': mythis.user_id,
                        }));
                    }
                }
            },

            edit_message(elementId, msgId) {
                this.message_status_is_edit = true;
                this.reply_msg(elementId, msgId);
            },

            delete_message(msgId) {

                let mythis = this;
                this.socket.send(JSON.stringify({
                    'client_id': mythis.user_id,
                    'owner_id': '',
                    'id': msgId,
                    '_type_request': 'del'
                }));    

                this.message_list.forEach(element => {
                    if(element.id == msgId) 
                        element.is_deleted = true;
                    if(element.reply_id == msgId)
                        element.reply_is_deleted = true;
                });
            },
            
            reply_msg(elementId, msgId) {
                this.focus_msg_input();
                let msgbox = document.getElementById(elementId);
                let reply_writer = '';
                let reply_id = msgId;
                let reply_content = document.querySelector(`#${elementId} .msg__content`).innerText;

                if(msgbox.classList.contains('msg__right'))
                    reply_writer = 'شما';
                else
                    reply_writer = 'پشتیبان';

                document.querySelector('.body__inputs .reply_msg_wrapper').classList.remove('d-none');
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText = reply_writer;
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText = reply_content;
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText = reply_id;
            },
            
            close_replybar() {
                this.message_status_is_edit = false;
                document.querySelector('.body__inputs .reply_msg_wrapper').classList.add('d-none');
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText = '';
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText = '';
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText = '';
            },

            msg_replied(scholl_msg) {
                let target = document.getElementById(scholl_msg); 

                if(target) {
                    let initial_bgcolor = '';

                    // change background color for message
                    if(target.classList.contains('msg__right')) {
                        initial_bgcolor = target.style.backgroundColor;
                        target.style.backgroundColor = '#1577c6';
                    } else if (target.classList.contains('msg__left')) {
                        initial_bgcolor = target.style.backgroundColor;
                        target.style.backgroundColor = '#c2c2c2';
                    }

                    setTimeout(() => {
                        target.style.backgroundColor = initial_bgcolor;
                    }, 500);

                    // scroll to message
                    target.scrollIntoView({ behavior: "smooth", block: "end"});
                }
            },
        
            chatapp_submitform() {

                let fname = document.getElementById('chatapp__fname');
                let lname = document.getElementById('chatapp__lname');
                let email_phone;
                if (this.is_set_env && this.env_auth_fields == 'email')
                    email_phone = document.getElementById('chatapp__email');
                else if (this.is_set_env && this.env_auth_fields == 'phone')
                    email_phone = document.getElementById('chatapp__phone');

                const email_regex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                const phone_regex = /^\d{11,12}$/i;
                let formdata;
                
                if(!fname.value.length >= 1)
                    return;
                
                if(!lname.value.length >= 1)
                    return;
                
                if(email_phone.value.match(email_regex)) {
                    formdata = new FormData();
                    formdata.append('fname', fname.value);
                    formdata.append('lname', lname.value);
                    formdata.append('email', email_phone.value);
                    
                } else if(email_phone.value.match(phone_regex)) {
                    formdata = new FormData();
                    formdata.append('fname', fname.value);
                    formdata.append('lname', lname.value);
                    formdata.append('phone', email_phone.value);
                }
                else {
                    return;
                }

                (async () => {
                    await fetch('/' + window.location.pathname[1] + window.location.pathname[2] + '/django-chat-app/auth/create/userid/', {
                        method: "POST",
                        body: new URLSearchParams(formdata),
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then( (response) => {
                        if(response.status == 200) {

                            this.user_id = response.data;
                            localStorage.setItem(
                                'chatapp_client_id', JSON.stringify(this.user_id)
                            );
                            this.start_socket();
                            
                            document.querySelector('.chatapp__form').classList.add('d-none');
                            // document.querySelector('section.chatapp .btn_last_msg').classList.remove('d-none');
                            document.querySelector('.chatapp .all__msg__wrapper').classList.remove('d-none');
                            document.querySelector('.chatapp .body__inputs form').classList.remove('d-none');
                            setTimeout(()=> {
                                this.focus_msg_input();
                            }, 500);
                        }
                    })
                    .catch(err => {
                        console.log('ERR', err);
                    });
                })();
            },

            start_socket() {

                let username = this.user_id;

                this.socket = new WebSocket( 'ws://' + window.location.host + '/ws/client/chat/' + username + '/');
                
                let mythis = this;
                this.socket.onmessage = function(e) {

                    let message = JSON.parse(e.data);
                    console.log(message);

                    if(message._type_request == 'edit') {  /* just edit message */
                        mythis.message_list.forEach(element => {
                            if(element.id == message.reply_id) {
                                element.text = message.text;
                                element.is_edited = true;
                            }
                        });

                        return;
                    }

                    if(message._type_request == 'del') {  /* just delete message */
                        mythis.message_list.forEach(element => {
                            if(element.id == message.id)
                                element.is_deleted = true;
                            if(element.reply_id == message.id)
                                element.reply_is_deleted = true;
                        });

                        return;
                    }

                    if(message.receiver_status == 'online' || message.receiver_status == 'offline')
                        mythis.receiver_status = message.receiver_status;
                    
                    if(message.message_id && mythis.is_open_box){
                        mythis.message_list.forEach(element => {
                            element.is_seen = true;
                        });
                    }

                    else if (!message.receiver_status && !message.message_id){
                        mythis.message_list.push(message);

                        if(!mythis.is_open_box || mythis.is_open_game)
                            mythis.counter_new_msg += 1;
                    }

                    if(!mythis.is_open_game) {
                        setTimeout(()=> {
                            mythis.go_to_bottom_of_box();
                        }, 200);
                    }

                    if(mythis.is_open_box && !mythis.is_open_game){
                        // read all message signal
                        mythis.socket.send(JSON.stringify({
                            'message_id': 'all-msg',
                            'message_sender': 'supporter',
                            'client_id': 'supporter',
                        }));
                        mythis.counter_new_msg = 0;
                    }
                };

                this.socket.onclose = function(e) {
                    console.error('Socket closed unexpectedly');
                };
            },
            
            sned_msg_socket(e) {

                if(!this.msg_input)
                    return;

                if(this.message_status_is_edit) { /* just edit message */

                    let content = document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText;
                    let reply_id = document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText;
                    let mythis = this;
                    this.socket.send(JSON.stringify({
                        'client_id': mythis.user_id,
                        'owner_id': '',
                        'owner_name': '',
                        'id': 0,
                        'sender_type': 'client', 
                        'reply_id': reply_id,
                        'reply_title': '', 
                        'reply_msg': content, 
                        'is_seen': 0,
                        'created': '',
                        'text': mythis.msg_input,
                        '_type_request': 'edit'
                    }));

                    this.message_list.forEach(element => {
                        if(element.id == reply_id) {
                            element.text = mythis.msg_input;
                            element.is_edited = true;
                        }
                    });

                    this.message_status_is_edit = false;
                    this.msg_input = '';

                    this.close_replybar();
                    
                    setTimeout(()=> {
                        this.go_to_bottom_of_box();
                    }, 500);

                    return;
                }

                if(document.querySelector('.body__inputs .reply_msg_wrapper').classList.contains('d-none')) {
                    let mythis = this;
                    this.socket.send(JSON.stringify({
                        'owner_id': mythis.user_id,
                        'owner_name': '',
                        'id': 0,
                        'sender_type': 'client', 
                        'reply_id': '',
                        'reply_title': '', 
                        'reply_msg': '', 
                        'is_seen': 0,
                        'created': '',
                        'text': mythis.msg_input
                    }));    

                    // play send sound
                    this.play_send_sound();

                    setTimeout(()=> {
                        this.go_to_bottom_of_box();
                    }, 500);

                } else {
                    let writer = document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText;
                    let content = document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText;
                    let reply_id = document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText;
                    let mythis = this;
                    this.socket.send(JSON.stringify({
                        'owner_id': mythis.user_id,
                        'owner_name': '',
                        'id': 0,
                        'sender_type': 'client', 
                        'reply_id': reply_id,
                        'reply_title': '', 
                        'reply_msg': content, 
                        'is_seen': 0,
                        'created': '',
                        'text': mythis.msg_input
                    }));

                    // play send sound
                    this.play_send_sound();

                    this.close_replybar();

                    setTimeout(()=> {
                        this.go_to_bottom_of_box();
                    }, 500);
                }

                this.msg_input = '';
            }
        }
    }).mount('#chatapp');

</script>

<script>

/* Tic-Toc-Toe Game */
// Computer X .:. Human O

const number_game_win = 10;
let human_score = 0;
let computer_score = 0;
let all_btn = ['btn11', 'btn12', 'btn13', 'btn21', 'btn22', 'btn23', 'btn31', 'btn32', 'btn33'];
let selected = [];
let row1 = ['', '', ''];
let row2 = ['', '', ''];
let row3 = ['', '', ''];
let endGame = false;
let final = false;
let alertDiv = document.getElementById('game_alert_msg');
let bg__glass = document.getElementById('bg__glass');
let oimg = document.getElementById('oimage_game').getAttribute('src');
let ximg = document.getElementById('ximage_game').getAttribute('src');

// start a step with Human
document.querySelectorAll('.btn_game').forEach((btn) => {
    
    btn.addEventListener('click', (e) => {
        
        let btnId = e.target.getAttribute('id');
        if(!selected.find(el => el == btnId)) {
            
            selected.push(btnId);
            set_image_in_btn(btnId, 'O');
            set_config(btnId, 'O');
            check_winner('O');

            if(endGame == false && final == false) { // computer select
                computer_select();
                check_winner('X');
            }
            else if(endGame == true && final == false) { // clear buttons
                setTimeout(() => {
                    reset_game();
                }, 2000);
            }
        }
    });
});

// computer or human selections, set a image in the buttons
set_image_in_btn = (btnId, human_computer) => {
    let new_img = document.createElement("img");

    if(human_computer == 'O')
        new_img.setAttribute('src', oimg);
    else if(human_computer == 'X')
        new_img.setAttribute('src', ximg);
    
    if(human_computer == 'null') {
        document.getElementById(btnId).innerHTML = '';
    }
    if(human_computer != 'null') {
        document.getElementById(btnId).appendChild(new_img);
    }
}

// set X or O in row1, row2 and row3 arrays
set_config = (btnId, human_computer) => {

    if(btnId == 'btn11') 
        row1[0] = human_computer;
    if(btnId == 'btn12') 
        row1[1] = human_computer;
    if(btnId == 'btn13') 
        row1[2] = human_computer;

    if(btnId == 'btn21') 
        row2[0] = human_computer;
    if(btnId == 'btn22') 
        row2[1] = human_computer;
    if(btnId == 'btn23') 
        row2[2] = human_computer;

    if(btnId == 'btn31') 
        row3[0] = human_computer;
    if(btnId == 'btn32') 
        row3[1] = human_computer;
    if(btnId == 'btn33') 
        row3[2] = human_computer;
}

check_winner = (human_computer) => {
    if(human_computer == 'O'){
        // win in rows
        if(row1[0] == 'O' && row1[1] == 'O' && row1[2] == 'O')
            human_win('btn11', 'btn12', 'btn13');
        if(row2[0] == 'O' && row2[1] == 'O' && row2[2] == 'O')
            human_win('btn21', 'btn22', 'btn23');
        if(row3[0] == 'O' && row3[1] == 'O' && row3[2] == 'O')
            human_win('btn31', 'btn32', 'btn33');
        // win in columns
        if(row1[0] == 'O' && row2[0] == 'O' && row3[0] == 'O')
            human_win('btn11', 'btn21', 'btn31');
        if(row1[1] == 'O' && row2[1] == 'O' && row3[1] == 'O')
            human_win('btn12', 'btn22', 'btn32');
        if(row1[2] == 'O' && row2[2] == 'O' && row3[2] == 'O')
            human_win('btn13', 'btn23', 'btn33');        
        // win in *
        if(row1[0] == 'O' && row2[1] == 'O' && row3[2] == 'O')
            human_win('btn11', 'btn22', 'btn33');
        if(row1[2] == 'O' && row2[1] == 'O' && row3[0] == 'O')
            human_win('btn13', 'btn22', 'btn31');
    }
    else if(human_computer == 'X'){
        // win in rows
        if(row1[0] == 'X' && row1[1] == 'X' && row1[2] == 'X')
            computer_win('btn11', 'btn12', 'btn13');
        if(row2[0] == 'X' && row2[1] == 'X' && row2[2] == 'X')
            computer_win('btn21', 'btn22', 'btn23');
        if(row3[0] == 'X' && row3[1] == 'X' && row3[2] == 'X')
            computer_win('btn31', 'btn32', 'btn33');
        // win in columns
        if(row1[0] == 'X' && row2[0] == 'X' && row3[0] == 'X')
            computer_win('btn11', 'btn21', 'btn31');
        if(row1[1] == 'X' && row2[1] == 'X' && row3[1] == 'X')
            computer_win('btn12', 'btn22', 'btn32');
        if(row1[2] == 'X' && row2[2] == 'X' && row3[2] == 'X')
            computer_win('btn13', 'btn23', 'btn33');        
        // win in *
        if(row1[0] == 'X' && row2[1] == 'X' && row3[2] == 'X')
            computer_win('btn11', 'btn22', 'btn33');
        if(row1[2] == 'X' && row2[1] == 'X' && row3[0] == 'X')
            computer_win('btn13', 'btn22', 'btn31');
    }
}

human_win = (btn1, btn2, btn3) => {

    bg__glass.classList.remove('d-none');

    document.getElementById(btn1).style.backgroundColor = '#ececec';
    document.getElementById(btn2).style.backgroundColor = '#ececec';
    document.getElementById(btn3).style.backgroundColor = '#ececec';
    setTimeout(() => {
        document.getElementById(btn1).style.backgroundColor = '#fff';
        document.getElementById(btn2).style.backgroundColor = '#fff';
        document.getElementById(btn3).style.backgroundColor = '#fff';
    }, 2000);

    human_score += 1;
    if(human_score == number_game_win) {
        alertDiv.classList.remove('d-none');
        alertDiv.innerHTML = 'شما برنده شدید!';
        alertDiv.classList.add('game_alert_msg_win');
        final = true;
    }
    document.getElementById('score__game').innerHTML = `<div><span>شما:</span><span>${human_score}</span></div><div><span>کامپیوتر:</span><span>${computer_score}</span></div>`;

    endGame = true;
}

computer_win = (btn1, btn2, btn3) => {

    bg__glass.classList.remove('d-none');

    document.getElementById(btn1).style.backgroundColor = '#c8e7ff';
    document.getElementById(btn2).style.backgroundColor = '#c8e7ff';
    document.getElementById(btn3).style.backgroundColor = '#c8e7ff';
    setTimeout(() => {
        document.getElementById(btn1).style.backgroundColor = '#fff';
        document.getElementById(btn2).style.backgroundColor = '#fff';
        document.getElementById(btn3).style.backgroundColor = '#fff';
    }, 2000);

    computer_score += 1;
    if(computer_score == number_game_win) {   
        alertDiv.classList.remove('d-none');
        alertDiv.innerHTML = 'کامپیوتر برنده شد!';
        alertDiv.classList.add('game_alert_msg_lose');
        final = true;
    }
    document.getElementById('score__game').innerHTML = `<div><span>شما:</span><span>${human_score}</span></div><div><span>کامپیوتر:</span><span>${computer_score}</span></div>`;

    endGame = true;

    if(final == false) {
        setTimeout(() => {
            reset_game();
        }, 2000);

        setTimeout(() => {
            computer_select();
            check_winner('X');
        }, 2100);
    }
}

// set logics for computer selections - attack is first, defence is last strategy
computer_select = () => {
    let list_selection = [];
    let computer_selection = '';

    if(selected.length >= 0 && selected.length <= 8) {

        list_selection = all_btn.filter((item) => !selected.includes(item));

        /* + ATTACK */
        if(row1[0] == 'X' && row1[1] == 'X' && row1[2] == '')
            computer_selection = 'btn13';
        else if(row1[0] == 'X' && row1[2] == 'X' && row1[1] == '')
            computer_selection = 'btn12';
        else if(row1[1] == 'X' && row1[2] == 'X' && row1[0] == '')
            computer_selection = 'btn11';

        else if(row2[0] == 'X' && row2[1] == 'X' && row2[2] == '')
            computer_selection = 'btn23';
        else if(row2[0] == 'X' && row2[2] == 'X' && row2[1] == '')
            computer_selection = 'btn22';    
        else if(row2[1] == 'X' && row2[2] == 'X' && row2[0] == '')
            computer_selection = 'btn21';    

        else if(row3[0] == 'X' && row3[1] == 'X' && row3[2] == '')
            computer_selection = 'btn33';
        else if(row3[0] == 'X' && row3[2] == 'X' && row3[1] == '')
            computer_selection = 'btn32';  
        else if(row3[1] == 'X' && row3[2] == 'X' && row3[0] == '')
            computer_selection = 'btn31';

        else if(row1[0] == 'X' && row2[0] == 'X' && row3[0] == '')
            computer_selection = 'btn31';
        else if(row1[0] == 'X' && row3[0] == 'X' && row2[0] == '')
            computer_selection = 'btn21';
        else if(row3[0] == 'X' && row2[0] == 'X' && row1[0] == '')
            computer_selection = 'btn11';

        else if(row1[1] == 'X' && row2[1] == 'X' && row3[1] == '')
            computer_selection = 'btn32';
        else if(row1[1] == 'X' && row3[1] == 'X' && row2[1] == '')
            computer_selection = 'btn22';  
        else if(row3[1] == 'X' && row2[1] == 'X' && row1[1] == '')
            computer_selection = 'btn12';

        else if(row1[2] == 'X' && row2[2] == 'X' && row3[2] == '')
            computer_selection = 'btn33';
        else if(row1[2] == 'X' && row3[2] == 'X' && row2[2] == '')
            computer_selection = 'btn23';  
        else if(row3[2] == 'X' && row2[2] == 'X' && row1[2] == '')
            computer_selection = 'btn13';
        
        else if(row1[0] == 'X' && row2[1] == 'X' && row3[2] == '')
            computer_selection = 'btn33';
        else if(row1[0] == 'X' && row3[2] == 'X' && row2[1] == '')
            computer_selection = 'btn22';  
        else if(row2[1] == 'X' && row3[2] == 'X' && row1[0] == '')
            computer_selection = 'btn11';

        else if(row1[2] == 'X' && row2[1] == 'X' && row3[0] == '')
            computer_selection = 'btn31';
        else if(row1[2] == 'X' && row3[0] == 'X' && row2[1] == '')
            computer_selection = 'btn22';  
        else if(row2[1] == 'X' && row3[0] == 'X' && row1[2] == '')
            computer_selection = 'btn13';

        /* - ATTACK */
        /* + DEFENCE */

        else if(row1[0] == 'O' && row1[1] == 'O' && row1[2] == '')
            computer_selection = 'btn13';
        else if(row1[0] == 'O' && row1[2] == 'O' && row1[1] == '')
            computer_selection = 'btn12';
        else if(row1[1] == 'O' && row1[2] == 'O' && row1[0] == '')
            computer_selection = 'btn11';

        else if(row2[0] == 'O' && row2[1] == 'O' && row2[2] == '')
            computer_selection = 'btn23';
        else if(row2[0] == 'O' && row2[2] == 'O' && row2[1] == '')
            computer_selection = 'btn22';    
        else if(row2[1] == 'O' && row2[2] == 'O' && row2[0] == '')
            computer_selection = 'btn21';    

        else if(row3[0] == 'O' && row3[1] == 'O' && row3[2] == '')
            computer_selection = 'btn33';
        else if(row3[0] == 'O' && row3[2] == 'O' && row3[1] == '')
            computer_selection = 'btn32';  
        else if(row3[1] == 'O' && row3[2] == 'O' && row3[0] == '')
            computer_selection = 'btn31';

        else if(row1[0] == 'O' && row2[0] == 'O' && row3[0] == '')
            computer_selection = 'btn31';
        else if(row1[0] == 'O' && row3[0] == 'O' && row2[0] == '')
            computer_selection = 'btn21';
        else if(row3[0] == 'O' && row2[0] == 'O' && row1[0] == '')
            computer_selection = 'btn11';

        else if(row1[1] == 'O' && row2[1] == 'O' && row3[1] == '')
            computer_selection = 'btn32';
        else if(row1[1] == 'O' && row3[1] == 'O' && row2[1] == '')
            computer_selection = 'btn22';  
        else if(row3[1] == 'O' && row2[1] == 'O' && row1[1] == '')
            computer_selection = 'btn12';

        else if(row1[2] == 'O' && row2[2] == 'O' && row3[2] == '')
            computer_selection = 'btn33';
        else if(row1[2] == 'O' && row3[2] == 'O' && row2[2] == '')
            computer_selection = 'btn23';  
        else if(row3[2] == 'O' && row2[2] == 'O' && row1[2] == '')
            computer_selection = 'btn13';
        
        else if(row1[0] == 'O' && row2[1] == 'O' && row3[2] == '')
            computer_selection = 'btn33';
        else if(row1[0] == 'O' && row3[2] == 'O' && row2[1] == '')
            computer_selection = 'btn22';  
        else if(row2[1] == 'O' && row3[2] == 'O' && row1[0] == '')
            computer_selection = 'btn11';

        else if(row1[2] == 'O' && row2[1] == 'O' && row3[0] == '')
            computer_selection = 'btn31';
        else if(row1[2] == 'O' && row3[0] == 'O' && row2[1] == '')
            computer_selection = 'btn22';  
        else if(row2[1] == 'O' && row3[0] == 'O' && row1[2] == '')
            computer_selection = 'btn13';
        /* - DEFENCE */

        /* SELECT RANDOM BUTTON */
        else {
            computer_selection = list_selection[Math.floor(Math.random()*list_selection.length)];
        }

        set_image_in_btn(computer_selection, 'X');
        selected.push(computer_selection);
        set_config(computer_selection, 'X');
        
        if(selected.length == 9) {
            setTimeout(() => {
                reset_game();
            }, 1000);
        }
    }
    else if(selected.length == 9) {
        setTimeout(() => {
            reset_game();
        }, 1000);
    }
}

// clear buttons, hide alertbox [scores is not resets!]
reset_game = () => {
    selected = [];
    row1 = ['', '', ''];
    row2 = ['', '', ''];
    row3 = ['', '', ''];
    endGame = false;
    final = false;
    bg__glass.classList.add('d-none');
    all_btn.forEach(element => {
        set_image_in_btn(element, 'null');
    });
    alertDiv.classList.remove('game_alert_msg_lose');
    alertDiv.classList.remove('game_alert_msg_win');
    alertDiv.classList.add('d-none');
}

// restart all of game, reset scores
document.getElementById('restart__game').addEventListener('click', ()=> {
    human_score = 0;
    computer_score = 0;
    document.getElementById('score__game').innerHTML = `<div><span>شما:</span><span>${human_score}</span></div><div><span>کامپیوتر:</span><span>${computer_score}</span></div>`;
    reset_game();
});


</script>

</body>
</html>