<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1 id="app" style="color: red; text-align: center;">
            {{ text }}
        </h1>
    </div>

    <script>

        let socket = new WebSocket(`ws://${window.location.host}/integer`);
        socket.onmessage = function(ev) {
            let data = JSON.parse(ev.data);
            document.querySelector('#app').innerHTML = data.message;
        }

    </script>
</body>
</html>