
<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Supporter Home</title>

    <!-- External files2 -->
    <link rel="stylesheet" href="/site_static/django_chat_app/css/supporter.css">

</head>
<body>

    <section class="chatapp" id="chatapp">
        
        <p class="d-none" id="supporter_uid">{{ supporter_uid }}</p>

        <section class="open_navbar">
            <button @click="open_sidebar">بازکردن منو</button>
        </section>

        <nav class="nav">
            <div class="wrapper_nav">

                <div class="nav__header">
                    <h4>پیام های کاربران</h4>
                    <button @click="close_sidebar">&times;</button>
                </div>

                <div class="wrapper__chatboxes">
    
                    <div class="chat__box">
                        <div class="user_date_div">
                            <div>سعیدرضا غضنفری</div>
                            <div>1400/5/9</div>
                        </div>
                        <div class="unreadmsg_counter">3</div>
                    </div>
                    <div class="chat__box">
                        <div class="user_date_div">
                            <div>سعیدرضا غضنفری</div>
                            <div>1400/5/9</div>
                        </div>
                        <div class="unreadmsg_counter">3</div>
                    </div>
                    <div class="chat__box">
                        <div class="user_date_div">
                            <div>سعیدرضا غضنفری</div>
                            <div>1400/5/9</div>
                        </div>
                        <div class="unreadmsg_counter">3</div>
                    </div>

                </div>
            </div>
        </nav>

        <div class="chatapp__msg">
            <div class="msg__header">
                <div class="msg__wrapper">
                    <div class="header__info">
                        <img src="/site_static/django_chat_app/img/supporter.png" alt="">
                        <div>
                            <span>کاربر۱</span>
                            <span>آفلاین</span>
                        </div>
                    </div>
                    <div class="header__option">
                        
                        <div class="wrapper_btns">
                            <button class="btns_base openclose_addreadymsg" @click="openclose_addreadymsg"><img src="/site_static/django_chat_app/img/plus.png" alt="add msg box"></button>
                            
                            <div class="copybox_section d-none">
                                <div class="wrapper_close_btn">
                                    <button class="close_box" @click="close_addcopy_box">&times;</button>
                                    <button class="goto_add_box" @click="open_add_box">+</button>
                                </div>

                                <div class="wrapper_boxes">

                                    <div class="msg_item">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, optio non quisquam explicabo nobis.</p>
                                        <div class="wrapper_btns_msgs">
                                            <button><img src="/site_static/django_chat_app/img/delete.png" alt="delete ready msg item"></button>
                                            <div class="wrapper_2btn_msgs">
                                                <button><img src="/site_static/django_chat_app/img/plus.png" alt="add to input"></button>
                                                <button><img src="/site_static/django_chat_app/img/copy.png" alt="copy to clipboard"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="msg_item">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, optio non quisquam explicabo nobis.</p>
                                        <div class="wrapper_btns_msgs">
                                            <button><img src="/site_static/django_chat_app/img/delete.png" alt="delete ready msg item"></button>
                                            <div class="wrapper_2btn_msgs">
                                                <button><img src="/site_static/django_chat_app/img/plus.png" alt="add to input"></button>
                                                <button><img src="/site_static/django_chat_app/img/copy.png" alt="copy to clipboard"></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="addbox_section d-none">
                                <div class="wrapper_close_btn">
                                    <button class="close_box" @click="close_addcopy_box">&times;</button>
                                </div>
                                <form novalidate>
                                    <input type="text" id="subject-chatinput" autocomplete="off" autofocus placeholder="عنوان متن:">
                                    <textarea id="content-chatinput" rows="4" autocomplete="off" placeholder="محتوای متن:"></textarea>
                                    <button type="button">ذخیره</button>
                                </form>
                            </div>

                        </div>

                        <div class="wrapper_btns">
                            <button class="btns_base openclose_copyreadymsg" @click="openclose_copyreadymsg"><img src="/site_static/django_chat_app/img/copy.png" alt="copy msg box"></button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="msg__body">        
                <div class="body__wrapper" @click="aaa">

                    <!-- + messages wrapper -->
                    <div class="all__msg__wrapper">

                        <div class="one_msg_wrapper" @dblclick="reply_msg('chatapp_msg_1')">
                            <div class="msg msg__right" id="chatapp_msg_1">
                                <p class="msg__replied msg__replied--right" scholl_msg="chatapp_msg_2" @click="msg_replied">
                                    <span scholl_msg="chatapp_msg_2">سعیدرضا</span>
                                    <span scholl_msg="chatapp_msg_2">Hello World</span>
                                </p>
                                <p class="msg__content">
                                    Hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, obcaecati?
                                </p>
                                <div class="msg__info">
                                    <div class="msg__info__status">
                                        <img src="/site_static/django_chat_app/img/double-check.png" alt="single check status">
                                    </div>
                                    <div class="msg__info__clock">14:48</div>
                                </div>
                            </div>
                            <div class="reply_one_msg reply_one_msg--right" @click="reply_msg('chatapp_msg_1')">
                                پاسخ دادن
                            </div>
                        </div>
                        <div class="clearfix"></div>
    
                        <div class="one_msg_wrapper">
                            <div class="msg msg__right">
                                <p class="msg__content">
                                    Hello World
                                </p>
                                <div class="msg__info">
                                    <div class="msg__info__status">
                                        <img src="/site_static/django_chat_app/img/double-check.png" alt="single check status">
                                    </div>
                                    <div class="msg__info__clock">14:48</div>
                                </div>
                            </div>
                            <div class="reply_one_msg reply_one_msg--right">
                                پاسخ دادن
                            </div>
                        </div>
                        <div class="clearfix"></div>
    
                        <div class="one_msg_wrapper">
                            <div class="msg msg__right">
                                <p class="msg__content">
                                    Hello World
                                </p>
                                <div class="msg__info">
                                    <div class="msg__info__status">
                                        <img src="/site_static/django_chat_app/img/double-check.png" alt="single check status">
                                    </div>
                                    <div class="msg__info__clock">14:48</div>
                                </div>
                            </div>
                            <div class="reply_one_msg reply_one_msg--right">
                                پاسخ دادن
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="one_msg_wrapper" @dblclick="reply_msg('chatapp_msg_2')">
                            <div class="msg msg__left" id="chatapp_msg_2">
                                <p class="msg__replied msg__replied--left" scholl_msg="chatapp_msg_1" @click="msg_replied">
                                    <span scholl_msg="chatapp_msg_1">سعیدرضا</span>
                                    <span scholl_msg="chatapp_msg_1">Hello World</span>
                                </p>
                                <p class="msg__content">
                                    Hello World
                                </p>
                                <div class="msg__info">
                                    <div class="msg__info__clock">14:48</div>
                                </div>
                            </div>
                            <div class="reply_one_msg reply_one_msg--left" @click="reply_msg('chatapp_msg_2')">
                                پاسخ دادن
                            </div>
                        </div>
                        <div class="clearfix"></div>
    
                        <div class="one_msg_wrapper">
                            <div class="msg msg__left">
                                <p class="msg__content">
                                    Hello World
                                </p>
                                <div class="msg__info">
                                    <div class="msg__info__clock">14:48</div>
                                </div>
                            </div>
                            <div class="reply_one_msg reply_one_msg--left">
                                پاسخ دادن
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <!-- - messages wrapper -->

                </div>
            </div>

            <div class="body__inputs">
                <form novalidate @submit.prevent="sned_msg_socket">
                    <div class="forminput_wrapper">
                        <input type="text" v-model="msg_input" id="text-chatinput" autocomplete="off" autofocus placeholder="پیام خود را وارد کنید:">

                        <div class="reply_msg_wrapper d-none">
                            <button class="close_replybar" type="button" @click="close_replybar">&times;</button>
                            <div>
                                <p class="reply__writer"></p>
                                <p class="reply__content"></p>
                            </div>
                        </div>

                        <button type="submit" class="submit_msg_client">
                            <img src="/site_static/django_chat_app/img/send.png" alt="send image">
                        </button>
                    </div>
                </form>

                <div class="btn_last_msg" @click="go_to_bottom_of_box">
                    <button @click="go_to_bottom_of_box">
                        <img src="/site_static/django_chat_app/img/gotodown.png" alt="go to last msg img">
                        <div class="unreadmsg_counter">2</div>
                    </button>
                </div>
            </div>
        </div>




    </section>

<!-- <script type="text/javascript" src="/site_static/django_chat_app/js/supporter.js"></script> -->
<script type="text/javascript" src="/site_static/django_chat_app/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/site_static/django_chat_app/js/vue3.js"></script>

<script>

    /* DJANGO CHAT APP package */
    /* v1.0.0 */

    Vue.createApp({
        
        delimiters: [`[[`, `]]`],
        
        data() {
            return {
                // env variables
                env_dir: '',
                env_title: '',
                env_subtitle: '',
                env_show_supporter_name: '',
                is_set_env: false,

                client_id: 'a7873152-1456-438c-a0a0-10a3f18460ae',
                supporter_uid: '',

                socket: '',
                msg_input: '',
            }
        },

        created() {
            this.set_setting();
        },

        mounted() {
            this.supporter_uid = document.getElementById('supporter_uid').innerText;
            this.start_socket();
        },

        methods: {
            
            // encrypt(salt, text) {
            //     const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0));
            //     const byteHex = (n) => ("0" + Number(n).toString(16)).substr(-2);
            //     const applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
            //     return text.split("").map(textToChars).map(applySaltToChar).map(byteHex).join("");
            // },

            // decrypt(salt, encoded) {
            //     const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0));
            //     const applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
            //     return encoded.match(/.{1,2}/g).map((hex) => parseInt(hex, 16)).map(applySaltToChar).map((charCode) => String.fromCharCode(charCode)).join("");
            // },

            set_setting() {

                if(this.is_set_env)
                    return;

                (async () => {
                    await fetch('/django-chat-app/chat/setting/', {
                        method: "POST",
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then((response) => {
                        if(response.status == 200) {

                            this.env_dir = response.data.dir;
                            this.env_title = response.data.title;
                            this.env_subtitle = response.data.subtitle;
                            this.env_show_supporter_name = response.data.show_supporter_name;
                            this.is_set_env = true;

                            // setting for direction
                            if(this.env_dir == 'ltr') {
                                document.querySelector('section.chatapp').classList.add('chatapp__ltr')
                            } else if(this.env_dir == 'rtl') {
                                document.querySelector('section.chatapp').classList.remove('chatapp__ltr')
                            } else if(this.env_dir == 'auto') {
                                //TODO
                            }

                            // setting for title and subtitle
                            document.querySelector('.chatapp .chatapp__msg .header__info div span:nth-child(1)').innerText = this.env_title;
                            document.querySelector('.chatapp .chatapp__msg .header__info div span:nth-child(2)').innerText = this.env_subtitle;

                            // setting for email or phone
                            if(this.env_auth_fields == 'email')
                                document.querySelector('.chatapp .chatapp_control_email').classList.remove('d-none');
                            else if(this.env_auth_fields == 'phone')
                                document.querySelector('.chatapp .chatapp_control_phone').classList.remove('d-none');
                                

                        }
                    })
                    .catch(err => {
                        console.log('ERR: ', err);
                    });
                })();
            },

            aaa() {
                // let el = document.querySelector('.msg__body');
                // // let el = document.querySelector('.body__wrapper');
                // console.log('scrollHeight', el.scrollHeight);
                // console.log('scrollTop', el.scrollTop);
                // console.log('offsetHeight', el.offsetHeight);
            },

            go_to_bottom_of_box() {
                document.querySelector('.msg__body .body__wrapper').scrollIntoView({ behavior: "smooth", block: "end"});
            },

            reply_msg(msgID) {
                let msgbox = document.getElementById(msgID);
                let writer = '';
                let content = document.querySelector(`#${msgID} .msg__content`).innerText;

                if(msgbox.classList.contains('msg__right'))
                    writer = 'شما';
                else
                    writer = 'پشتیبان';

                document.querySelector('.body__inputs .reply_msg_wrapper').classList.remove('d-none');
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText = writer;
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText = content;
            },
            
            close_replybar() {
                document.querySelector('.body__inputs .reply_msg_wrapper').classList.add('d-none');
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText = '';
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText = '';
            },

            msg_replied(e) {
                let target = e.target.getAttribute('scholl_msg'); 
                if(target) {
                    let target_element = document.getElementById(target);
                    let initial_bgcolor = '';
                    
                    // change background color for message
                    if(target_element.classList.contains('msg__right')) {
                        initial_bgcolor = target_element.style.backgroundColor;
                        target_element.style.backgroundColor = '#1577c6';
                    } else if (target_element.classList.contains('msg__left')) {
                        initial_bgcolor = target_element.style.backgroundColor;
                        target_element.style.backgroundColor = '#c2c2c2';
                    }
                    setTimeout(() => {
                        target_element.style.backgroundColor = initial_bgcolor;
                    }, 500);
                    // scroll to message
                    target_element.scrollIntoView({ behavior: "smooth", block: "end"});
                }
            },

            start_socket() {

                this.socket = new WebSocket( 'ws://' + window.location.host + '/ws/chat/' + this.supporter_uid + '/supporter/');

                this.socket.onmessage = function(e) {
                    let message = JSON.parse(e.data);
                    console.log(message);

                    // $('.chatapp .all__msg__wrapper').prepend(`
                    //     <div class="media mb-2">
                    //         <div class="media-body">
                    //             <h6 class="mt-0"><strong>${message['sender']}</strong></h6>
                    //             ${message['text']}
                    //         </div>
                    //     </div>
                    // `);
                };

                this.socket.onclose = function(e) {
                    console.error('Socket closed unexpectedly');
                };

            },
            
            sned_msg_socket(e) {

                $('#messages-list').prepend(`
                    <div class="media mb-2">
                    <div class="media-body">
                        <h6 class="mt-0"><strong>You</strong></h6>
                        MESSAGE
                    </div>
                    </div>
                `.replace('MESSAGE', this.msg_input));

                this.socket.send(JSON.stringify({
                    'id': 0,
                    'sender_type': 'supporter', 
                    'receiver_id': this.client_id, 
                    'reply_title': '', 
                    'reply_msg': '', 
                    'is_seen': 0,
                    'created': '',
                    'text': this.msg_input
                }));

                this.msg_input = '';
            },

            close_sidebar() {
                document.querySelector('.nav').style.transform = 'translateX(500px)';
                setTimeout(()=>{
                    document.querySelector('.nav').style.display = 'none';
                }, 200);
            },

            open_sidebar() {
                document.querySelector('.nav').style.display = 'block';
                setTimeout(()=>{
                    document.querySelector('.nav').style.transform = 'translateX(0px)';
                }, 1)
            },

            openclose_addreadymsg() {
                if(document.querySelector('.addbox_section').classList.contains('d-none')) {
                    document.querySelector('.copybox_section').classList.add('d-none');
                    document.querySelector('.addbox_section').classList.remove('d-none');
                } else {
                    document.querySelector('.copybox_section').classList.add('d-none');
                    document.querySelector('.addbox_section').classList.add('d-none');
                }
            },
            
            openclose_copyreadymsg() {
                if(document.querySelector('.copybox_section').classList.contains('d-none')) {
                    document.querySelector('.addbox_section').classList.add('d-none');
                    document.querySelector('.copybox_section').classList.remove('d-none');
                }else {
                    document.querySelector('.addbox_section').classList.add('d-none');
                    document.querySelector('.copybox_section').classList.add('d-none');
                }
            },

            close_addcopy_box() {
                document.querySelector('.addbox_section').classList.add('d-none');
                document.querySelector('.copybox_section').classList.add('d-none');
            },

            open_add_box() {
                document.querySelector('.copybox_section').classList.add('d-none');
                document.querySelector('.addbox_section').classList.remove('d-none');
            },

        },

    }).mount('#chatapp');

</script>
</body>
</html>