
<!DOCTYPE html>
<html lang="fa">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Supporter Home</title>

    <!-- External files2 -->
    <link rel="stylesheet" href="/site_static/django_chat_app/css/supporter.css">

</head>
<body>

    <section class="chatapp" id="chatapp">
        
        <p class="d-none" id="supporter_uid">{{ supporter_uid }}</p>

        <section class="open_navbar">
            <button @click="open_sidebar">بازکردن منو</button>
        </section>

        <nav class="nav">
            <div class="wrapper_nav">

                <div class="nav__header">
                    <h4>پیام های کاربران</h4>
                    <button @click="close_sidebar">&times;</button>
                </div>

                <div class="wrapper__chatboxes">
    
                    <h4>پیام های ناخوانده ی شما</h4>

                    <template v-for="msg in unreads_thissupporter" :key="msg">
                        <div class="chat__box">
                            <div class="user_date_div">
                                <div>[[ msg.owner_name ]]</div>
                                <div>[[ msg.owner_id.slice(0,5) ]]***[[ msg.owner_id.slice(31) ]]</div>
                            </div>
                            <div class="unreadmsg_counter">[[ msg.counter ]]</div>
                        </div>
                    </template>
                    
                    <h4>سایر پیام های ناخوانده</h4>

                    <template v-for="msg in unreads_nosupoorter" :key="msg">
                        <div class="chat__box">
                            <div class="user_date_div">
                                <div>[[ msg.owner_name ]]</div>
                                <div>[[ msg.owner_id.slice(0,5) ]]***[[ msg.owner_id.slice(31) ]]</div>
                            </div>
                            <div class="unreadmsg_counter">[[ msg.counter ]]</div>
                        </div>
                    </template>

                </div>
            </div>
        </nav>

        <div class="chatapp__msg">
            <div class="msg__header">
                <div class="msg__wrapper">
                    <div class="header__info">
                        <img src="/site_static/django_chat_app/img/supporter.png" alt="">
                        <div>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="header__option">
                        
                        <div class="wrapper_btns">
                            <button class="btns_base openclose_addreadymsg" @click="openclose_addreadymsg"><img src="/site_static/django_chat_app/img/plus.png" alt="add msg box"></button>
                            
                            <div class="copybox_section d-none">
                                <div class="wrapper_close_btn">
                                    <button class="close_box" @click="close_addcopy_box">&times;</button>
                                    <button class="goto_add_box" @click="open_add_box">+</button>
                                </div>

                                <div class="wrapper_boxes">

                                    <div class="msg_item">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, optio non quisquam explicabo nobis.</p>
                                        <div class="wrapper_btns_msgs">
                                            <button><img src="/site_static/django_chat_app/img/delete.png" alt="delete ready msg item"></button>
                                            <div class="wrapper_2btn_msgs">
                                                <button><img src="/site_static/django_chat_app/img/plus.png" alt="add to input"></button>
                                                <button><img src="/site_static/django_chat_app/img/copy.png" alt="copy to clipboard"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="msg_item">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, optio non quisquam explicabo nobis.</p>
                                        <div class="wrapper_btns_msgs">
                                            <button><img src="/site_static/django_chat_app/img/delete.png" alt="delete ready msg item"></button>
                                            <div class="wrapper_2btn_msgs">
                                                <button><img src="/site_static/django_chat_app/img/plus.png" alt="add to input"></button>
                                                <button><img src="/site_static/django_chat_app/img/copy.png" alt="copy to clipboard"></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="addbox_section d-none">
                                <div class="wrapper_close_btn">
                                    <button class="close_box" @click="close_addcopy_box">&times;</button>
                                </div>
                                <form novalidate>
                                    <input type="text" id="subject-chatinput" autocomplete="off" autofocus placeholder="عنوان متن:">
                                    <textarea id="content-chatinput" rows="4" autocomplete="off" placeholder="محتوای متن:"></textarea>
                                    <button type="button">ذخیره</button>
                                </form>
                            </div>

                        </div>

                        <div class="wrapper_btns">
                            <button class="btns_base openclose_copyreadymsg" @click="openclose_copyreadymsg"><img src="/site_static/django_chat_app/img/copy.png" alt="copy msg box"></button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="msg__body">        
                <div class="body__wrapper" @click="aaa">

                    <!-- + messages wrapper -->
                    <div class="all__msg__wrapper">

                        <template v-for="msg_item in message_list" :key="msg_item.id">
                            <div class="one_msg_wrapper" @dblclick="reply_msg(`chatapp_msg_${msg_item.id}`, msg_item.id)">
                                <div class="msg" :class="msg_item.sender_type == 'supporter' ? 'msg__right' : 'msg__left'" :id="'chatapp_msg_' + msg_item.id">
                                    <p v-if="msg_item.reply_title" class="msg__replied" :class="msg_item.sender_type == 'supporter' ? 'msg__replied--right' : 'msg__replied--left'" @click="msg_replied(`chatapp_msg_${msg_item.reply_id}`)">
                                        <span>[[ msg_item.reply_title == 'supporter' ? 'شما' : 'کاربر' ]]</span>
                                        <span>[[ msg_item.reply_msg ]]</span>
                                    </p>
                                    <p class="msg__content">
                                        [[ msg_item.text ]]
                                    </p>
                                    <div class="msg__info">
                                        <div class="msg__info__status" v-if="msg_item.sender_type == 'supporter'">
                                            <img v-if="msg_item.is_seen" src="/site_static/django_chat_app/img/double-check.png" alt="double check status">
                                            <img v-else src="/site_static/django_chat_app/img/single-check.png" alt="single check status">
                                        </div>
                                        <div class="msg__info__clock">[[ msg_item.created ]]</div>
                                    </div>
                                </div>
                                <div class="reply_one_msg" :class="msg_item.sender_type == 'supporter' ? 'reply_one_msg--right' : 'reply_one_msg--left'" @click="reply_msg(`chatapp_msg_${msg_item.id}`, msg_item.id)">
                                    پاسخ دادن
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </template>

                    </div>
                    <!-- - messages wrapper -->

                </div>
            </div>

            <div class="body__inputs d-none">
                <form novalidate @submit.prevent="sned_msg_socket">
                    <div class="forminput_wrapper">
                        <input type="text" v-model="msg_input" id="text-chatinput" autocomplete="off" autofocus placeholder="پیام خود را وارد کنید:">

                        <div class="reply_msg_wrapper d-none">
                            <button class="close_replybar" type="button" @click="close_replybar">&times;</button>
                            <div>
                                <p class="reply__writer"></p>
                                <p class="reply__content"></p>
                                <p class="reply__reply_id d-none"></p>
                            </div>
                        </div>

                        <button type="submit" class="submit_msg_client">
                            <img src="/site_static/django_chat_app/img/send.png" alt="send image">
                        </button>
                    </div>
                </form>

                <div class="btn_last_msg" @click="go_to_bottom_of_box">
                    <button @click="go_to_bottom_of_box">
                        <img src="/site_static/django_chat_app/img/gotodown.png" alt="go to last msg img">
                        <div class="unreadmsg_counter">2</div>
                    </button>
                </div>

            </div>
        </div>

    </section>

<!-- <script type="text/javascript" src="/site_static/django_chat_app/js/supporter.js"></script> -->
<script type="text/javascript" src="/site_static/django_chat_app/js/vue3.js"></script>

<script>

    /* DJANGO CHAT APP package */
    /* v1.0.0 */

    Vue.createApp({
        
        delimiters: [`[[`, `]]`],
        
        data() {
            return {
                // env variables
                env_dir: '',
                env_title: '',
                env_subtitle: '',
                env_max_report_number: '',
                env_show_supporter_name: '',
                is_set_env: false,

                supporter_uid: '',

                socket: '',
                msg_input: '',

                message_list: [],
                unreads_nosupoorter_pre: [],
                unreads_nosupoorter: [],
                unreads_thissupporter_pre: [],
                unreads_thissupporter: [],
            }
        },

        created() {
            this.set_setting();
        },

        mounted() {
            this.supporter_uid = document.getElementById('supporter_uid').innerText;
            this.get_board_msgs();
            this.start_socket();
            this.open_sidebar();
        },

        methods: {
            
            // encrypt(salt, text) {
            //     const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0));
            //     const byteHex = (n) => ("0" + Number(n).toString(16)).substr(-2);
            //     const applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
            //     return text.split("").map(textToChars).map(applySaltToChar).map(byteHex).join("");
            // },

            // decrypt(salt, encoded) {
            //     const textToChars = (text) => text.split("").map((c) => c.charCodeAt(0));
            //     const applySaltToChar = (code) => textToChars(salt).reduce((a, b) => a ^ b, code);
            //     return encoded.match(/.{1,2}/g).map((hex) => parseInt(hex, 16)).map(applySaltToChar).map((charCode) => String.fromCharCode(charCode)).join("");
            // },

            set_setting() {

                if(this.is_set_env)
                    return;

                (async () => {
                    await fetch('/django-chat-app/chat/setting/', {
                        method: "POST",
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then((response) => {
                        if(response.status == 200) {

                            this.env_dir = response.data.dir;
                            this.env_show_supporter_name = response.data.show_supporter_name;
                            this.env_title = response.data.title;
                            this.env_subtitle = response.data.subtitle;
                            this.env_max_report_number = response.data.max_report_number;
                            this.is_set_env = true;

                            // setting for direction
                            if(this.env_dir == 'ltr') {
                                document.querySelector('section.chatapp').classList.add('chatapp__ltr')
                            } else if(this.env_dir == 'rtl') {
                                document.querySelector('section.chatapp').classList.remove('chatapp__ltr')
                            } else if(this.env_dir == 'auto') {
                                //TODO
                            }

                            // setting for title and subtitle
                            document.querySelector('.chatapp .chatapp__msg .header__info div span:nth-child(1)').innerText = this.env_title;
                            document.querySelector('.chatapp .chatapp__msg .header__info div span:nth-child(2)').innerText = this.env_subtitle;
                            
                            if(this.env_show_supporter_name) {
                                //TODO
                            }

                            if(this.env_max_report_number) {
                                //TODO
                            }
                        }
                    })
                    .catch(err => {
                        console.log('ERR: ', err);
                    });
                })();
            },

            get_board_msgs() {

                let formdata = new FormData();
                formdata.append('supporter_uid', this.supporter_uid);
                
                (async () => {
                    await fetch('/django-chat-app/chat/supporter/unreads/', {
                        method: "POST",
                        body: new URLSearchParams(formdata),
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then((response) => {
                        if(response.status == 200) {
                            
                            // set to board
                            this.set_unread_msgs_to_board(
                                response.unreads_nosupoorter,
                                response.unreads_thissupporter
                            )
                        }
                    })
                    .catch(err => {
                        console.log('ERR: ', err);
                    });
                })();

            },

            set_unread_msgs_to_board(GetNosupoorter, GetThissupporter) {

                // get nosupoorter
                this.unreads_nosupoorter_pre_pre = GetNosupoorter;
                let nosupoorter_count = {};
                let nosupoorter_result = [];

                this.unreads_nosupoorter_pre.forEach(element => {
                    nosupoorter_count[element.owner_id] = (nosupoorter_count[element.owner_id] || 0) + 1;
                });
                
                for (const key in nosupoorter_count) {
                    for (let i = 0; i < this.unreads_nosupoorter_pre.length; i++) {
                        if(key == this.unreads_nosupoorter_pre[i].owner_id) {
                            nosupoorter_result.push({
                                "owner_id": this.unreads_nosupoorter_pre[i].owner_id,
                                "owner_name": this.unreads_nosupoorter_pre[i].owner_name,
                                "counter": nosupoorter_count[key]
                            })
                            break;
                        }
                    }
                }
                this.unreads_nosupoorter = nosupoorter_result;
                
                // get thissupporter
                this.unreads_thissupporter_pre = GetThissupporter;
                let thissupporter_count = {};
                let thissupporter_result = [];

                this.unreads_thissupporter_pre.forEach(element => {
                    thissupporter_count[element.owner_id] = (thissupporter_count[element.owner_id] || 0) + 1;
                });
                
                for (const key in thissupporter_count) {
                    for (let i = 0; i < this.unreads_thissupporter_pre.length; i++) {
                        if(key == this.unreads_thissupporter_pre[i].owner_id) {
                            thissupporter_result.push({
                                "owner_id": this.unreads_thissupporter_pre[i].owner_id,
                                "owner_name": this.unreads_thissupporter_pre[i].owner_name,
                                "counter": thissupporter_count[key]
                            })
                            break;
                        }
                    }
                }
                this.unreads_thissupporter = thissupporter_result;
            },

            aaa() {
                // let el = document.querySelector('.msg__body');
                // // let el = document.querySelector('.body__wrapper');
                // console.log('scrollHeight', el.scrollHeight);
                // console.log('scrollTop', el.scrollTop);
                // console.log('offsetHeight', el.offsetHeight);
            },

            go_to_bottom_of_box() {
                document.querySelector('.msg__body .body__wrapper').scrollIntoView({ behavior: "smooth", block: "end"});
            },
            
            reply_msg(elementId, msgId) {
                let msgbox = document.getElementById(elementId);
                let reply_writer = '';
                let reply_id = msgId;
                let reply_content = document.querySelector(`#${elementId} .msg__content`).innerText;

                if(msgbox.classList.contains('msg__right'))
                    reply_writer = 'شما';
                else
                    reply_writer = 'پشتیبان';

                document.querySelector('.body__inputs .reply_msg_wrapper').classList.remove('d-none');
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText = reply_writer;
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText = reply_content;
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText = reply_id;
            },
            
            close_replybar() {
                document.querySelector('.body__inputs .reply_msg_wrapper').classList.add('d-none');
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText = '';
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText = '';
                document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText = '';
            },

            msg_replied(scholl_msg) {
                let target = document.getElementById(scholl_msg); 

                if(target) {
                    let initial_bgcolor = '';

                    // change background color for message
                    if(target.classList.contains('msg__right')) {
                        initial_bgcolor = target.style.backgroundColor;
                        target.style.backgroundColor = '#1577c6';
                    } else if (target.classList.contains('msg__left')) {
                        initial_bgcolor = target.style.backgroundColor;
                        target.style.backgroundColor = '#c2c2c2';
                    }

                    setTimeout(() => {
                        target.style.backgroundColor = initial_bgcolor;
                    }, 500);

                    // scroll to message
                    target.scrollIntoView({ behavior: "smooth", block: "end"});
                }
            },

            start_socket() {

                this.socket = new WebSocket( 'ws://' + window.location.host + '/ws/supporter/chat/' + this.supporter_uid + '/');
                
                let mythis = this;

                this.socket.onmessage = function(e) {

                    let message = JSON.parse(e.data);
                    console.log(message);

                    // + add message to board
                    mythis.unreads_thissupporter_pre.push(message);
                    let thissupporter_count = {};
                    let thissupporter_result = [];

                    mythis.unreads_thissupporter_pre.forEach(element => {
                        thissupporter_count[element.owner_id] = (thissupporter_count[element.owner_id] || 0) + 1;
                    });
                    
                    for (const key in thissupporter_count) {
                        for (let i = 0; i < mythis.unreads_thissupporter_pre.length; i++) {
                            if(key == mythis.unreads_thissupporter_pre[i].owner_id) {
                                thissupporter_result.push({
                                    "owner_id": mythis.unreads_thissupporter_pre[i].owner_id,
                                    "owner_name": mythis.unreads_thissupporter_pre[i].owner_name,
                                    "counter": thissupporter_count[key]
                                })
                                break;
                            }
                        }
                    }
                    mythis.unreads_thissupporter = thissupporter_result;
                    // - add message to board

                    

                };

                this.socket.onclose = function(e) {
                    console.error('Socket closed unexpectedly');
                };
            },
            
            sned_msg_socket(e) {

                if(!this.msg_input)
                    return;

                if(document.querySelector('.body__inputs .reply_msg_wrapper').classList.contains('d-none')) {
                    let mythis = this;
                    this.socket.send(JSON.stringify({
                        'owner_id': mythis.supporter_uid,
                        'owner_name': '',
                        'id': 0,
                        'sender_type': 'client', 
                        'reply_id': '',
                        'reply_title': '', 
                        'reply_msg': '', 
                        'is_seen': 0,
                        'created': '',
                        'text': mythis.msg_input
                    }));    

                } else {
                    let writer = document.querySelector('.body__inputs .reply_msg_wrapper .reply__writer').innerText;
                    let content = document.querySelector('.body__inputs .reply_msg_wrapper .reply__content').innerText;
                    let reply_id = document.querySelector('.body__inputs .reply_msg_wrapper .reply__reply_id').innerText;
                    let mythis = this;
                    this.socket.send(JSON.stringify({
                        'owner_id': mythis.supporter_uid,
                        'owner_name': '',
                        'id': 0,
                        'sender_type': 'client', 
                        'reply_id': reply_id,
                        'reply_title': '', 
                        'reply_msg': content, 
                        'is_seen': 0,
                        'created': '',
                        'text': mythis.msg_input
                    }));

                    this.close_replybar();
                }

                this.msg_input = '';
            },

            close_sidebar() {
                document.querySelector('.nav').style.transform = 'translateX(500px)';
                setTimeout(()=>{
                    document.querySelector('.nav').style.display = 'none';
                }, 200);
            },

            open_sidebar() {
                document.querySelector('.nav').style.display = 'block';
                setTimeout(()=>{
                    document.querySelector('.nav').style.transform = 'translateX(0px)';
                }, 1)
            },

            openclose_addreadymsg() {
                if(document.querySelector('.addbox_section').classList.contains('d-none')) {
                    document.querySelector('.copybox_section').classList.add('d-none');
                    document.querySelector('.addbox_section').classList.remove('d-none');
                } else {
                    document.querySelector('.copybox_section').classList.add('d-none');
                    document.querySelector('.addbox_section').classList.add('d-none');
                }
            },
            
            openclose_copyreadymsg() {
                if(document.querySelector('.copybox_section').classList.contains('d-none')) {
                    document.querySelector('.addbox_section').classList.add('d-none');
                    document.querySelector('.copybox_section').classList.remove('d-none');
                }else {
                    document.querySelector('.addbox_section').classList.add('d-none');
                    document.querySelector('.copybox_section').classList.add('d-none');
                }
            },

            close_addcopy_box() {
                document.querySelector('.addbox_section').classList.add('d-none');
                document.querySelector('.copybox_section').classList.add('d-none');
            },

            open_add_box() {
                document.querySelector('.copybox_section').classList.add('d-none');
                document.querySelector('.addbox_section').classList.remove('d-none');
            },

        },

    }).mount('#chatapp');

</script>
</body>
</html>