### Django ###
*.log
*.pot
*.pyc
__pycache__/
app_config/
assets/
db.sqlite3
db.sqlite3-journal
media
MORE.md
manager.sh
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

build/
django_chatapp.egg-info/
develop-eggs/
dist/
*.egg-info/
*.egg
