@import './variables';


@keyframes anim-span-1 {
    0% { left: -100%; }
    50%,100% { left: 100%; }
}
@keyframes anim-span-2 {
    0% { top: -100%; }
    50%,100% { top: 100%; }
}
@keyframes anim-span-3 {
    0% { right: -100%; }
    50%,100% { right: 100%; }
}
@keyframes anim-span-4 {
    0% { bottom: -100%; }
    50%,100% { bottom: 100%; }
}

