
// Colors
// $dark: #323232;
// $darker: #1b1b1b;
// $light: #ffe7d0;
// $lighter: #f8f8f8;
// $orange: #fc6e20;

// colors
$pur: #7f33fe;
$vio: #c738d8;
$secondry: #828bb2;

// shadow
$shadow: -5px 5px 30px 0px rgba(158, 158, 158, 0.3);

// font sizes
$font-very-small: 8pt;
$font-small: 10pt;
$font-medium: 13pt;
$font-large: 15pt;
$font-xlarge: 25pt;